<h2>Design</h3>
<dl>
  <dt><%= link_to "bourbon", "http://bourbon.io/", target: '_blank' %> </dt>
  <dd>A Sass Mixin Library </dd>

  <dt><%= link_to "bourbon neat", "http://neat.bourbon.io/", target: '_blank' %> </dt>
  <dd>Grid framework for Sass and Bourbon</dd>

  <dt><%= link_to "bitters", "http://bitters.bourbon.io/", target: '_blank' %> </dt>
  <dd>Scaffold styles, variables and structure for Bourbon projects</dd>

  <dt><%= link_to "font-awesome", "http://fortawesome.github.io/Font-Awesome/", target: '_blank' %> </dt>
  <dd>The iconic font and CSS toolkit</dd>
</dl>

<hr>

<h2>Development</h3>
<dl>
  <dt><%= link_to "guard-minitest", "https://github.com/guard/guard-minitest", target: '_blank' %> </dt>
  <dd>Automatically run your tests</dd>

  <dt><%= link_to "mocha", "https://github.com/freerange/mocha", target: '_blank' %> </dt>
  <dd>A Ruby library for mocking and stubbing</dd>

  <dt><%= link_to "handlebar templates", "https://github.com/railsware/sht_rails", target: '_blank' %> </dt>
  <dd>Shared handlebars templates for rails 4.</dd>

  <dt><%= link_to "jasmine", "https://github.com/jasmine/jasmine-gem", target: '_blank' %> </dt>
  <dd>Javascript testing with jasmine.</dd>

</dl>
