<!DOCTYPE html>
<html>
<head>
  <title>RailsLoaded</title>

  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

 <header class="site-header">
  <nav class="site-nav container" role="navigation">
      <%= link_to 'https://github.com/dnajd/rails-loaded', class: 'navbar-brand', target: '_blank' do %>
        rails-loaded
      <% end %>

      <ul class="nav-links">
        <li><%= link_to 'Home', '/' %>
          <ul></ul>
        </li>
        <li><i class="fa fa-angle-double-right"></i><%= link_to 'Github', 'https://github.com/dnajd/rails-loaded' %>
          <ul>
            <li><a href="https://github.com/dnajd/rails-loaded">Rails</a></li>
            <li><a href="https://github.com/dnajd/middleman-loaded">Middleman</a></li>
            <li><a href="https://github.com/dnajd/ruby_tester">Ruby Tester</a></li>
            <li><a href="https://github.com/dnajd/load_runner">Load Runner</a></li>
          </ul>
        </li>
      </ul>
      </div>
      <div class="mobile-menu"><i class="fa fa-navicon"></i></div>

    </nav>

  </div>
</header>

<main class="site-main">
  <div class="container module">
    <%= yield %>
  </div>
</main>

<footer class="site-footer">
  <div class="container">
    <p>&copy; <%= Time.now.year %> <a href="https://github.com/dnajd/middleman-loaded">middleman-loaded</a></p>
  </div>
</footer>

  <!-- bottom  -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :js %>
  <% if Rails.env == "Production" %><!-- ex. google analytics --><% end %>
  <!-- /bottom  -->
</body>
</html>
